@font-face {
  font-family: "NAMU Pro";
  src: 
    /* url("../NAMU-typefaces2019/Web/NAMU-Pro.woff2") format("woff2"),
      url("../NAMU-typefaces2019/Web/NAMU-Pro.woff") format("woff"),
      url("../NAMU-typefaces2019/Desktop/NAMU-Pro.ttf") format("truetype"),
      url("../NAMU-typefaces2019/Desktop/NAMU-Pro.otf") format("opentype"),
      url("../NAMU/NAMU-Pro.ttf") format("truetype"), */ url("../NAMU-Pro.otf")
      format("opentype"),
    url(../NAMU-Pro.ttf) format("truetype");
}
html,
body {
  overflow-x: hidden; /* предотвратить скролл из-за выступающих элементов */
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1;
  font-family: "NAMU Pro", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: calc(1380px + 4rem);
  padding: 0 2rem;
  box-sizing: border-box;
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  li {
    padding: 10px;
    &:hover {
      color: var(--primary-color);
    }
  }
}
h2 {
  line-height: 150%;
  /* font-weight: 300; */
  strong,
  b {
    font-weight: 300;
  }
}

.main .container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 90px;
}
.img-border {
  padding: 4px;
  border-radius: 8px;
  background: linear-gradient(67.22deg, #e63e21 -2.1%, #262626 19.33%);
  display: inline-block;
}
.main-right {
  max-width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    line-height: 1.5;
  }
  opacity: 0;
}

.main-right img {
  max-width: 435px;
  width: 100%;

  border-radius: 4px;
  display: block;
  width: 100%;
  max-width: 435px;
}

.main-left {
  position: relative;
  h1 {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 220px;
    line-height: 1;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }
  p.ux {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    span {
      position: relative;
      top: 3px;
    }
  }
  img {
    position: absolute;
  }
}
.main-left .flower {
  top: 60px;
  left: 262px;
  z-index: -1;
  animation: floatFlower 6s ease-in-out infinite;
}
@keyframes floatFlower {
  0% {
    transform: translateY(0px) rotate(-5deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-5deg);
  }
}

.main-left .ellipse {
  top: 68px;
  left: 242px;
  width: 280px;
  height: 280px;
  rotate: 31.5deg;
  z-index: -2;
  animation: pulseGradient 8s ease-in-out infinite;
}
@keyframes pulseGradient {
  0% {
    transform: scale(1) rotate(31.5deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.05) rotate(33deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(31.5deg);
    opacity: 0.8;
  }
}

.main-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
  margin-top: 30px;
}

.main-item {
  position: relative;
  padding: 10px 25px;
  font-size: 20px;
  color: var(--secondary-color);
  background: #1b1b1b;
  border-radius: 4px;
  z-index: 1;
}

.main-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* толщина рамки */
  background: linear-gradient(
    351.49deg,
    #e63e21 -12.34%,
    rgba(230, 62, 33, 0) 38.6%
  );
  border-radius: 4px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

/* .main-item {
  --border-width: 2px;
  --radius: 8px;
  --angle: 0turn;

  position: relative;
  background: #1b1b1b;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
  color: var(--secondary-color);
  padding: 10px 25px;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
}

.main-item::before {
  content: "";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
  background-image: linear-gradient(0deg, #262626, #262626),
    conic-gradient(from var(--angle), #e63e21 0%, rgba(230, 62, 33, 0) 33.3%);
  background-origin: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;

  animation: spin 3s linear infinite;
} */

/* .main-item:hover::before {
  animation-play-state: paused;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
} */

.main-item:nth-child(2)::before {
  background: linear-gradient(
    8.77deg,
    #e63e21 -19.31%,
    rgba(230, 62, 33, 0) 60.21%
  );
}

.main-item:nth-child(3)::before {
  background: linear-gradient(
    335.63deg,
    #e63e21 -12.34%,
    rgba(230, 62, 33, 0) 38.6%
  );
}

.main-item:nth-child(4)::before {
  background: linear-gradient(
    367.03deg,
    #e63e21 -4.12%,
    rgba(230, 62, 33, 0) 64.68%
  );
}

.accent-header {
  color: var(--primary-color);
}

.large {
  font-size: 32px;
  line-height: 150%;
}

.xl {
  font-size: 96px;
  line-height: 150%;
}
section.container {
  padding-top: 90px;
  padding-bottom: 90px;
}
section h2 {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 20px;
}
.card-link {
  display: inline-block;
  padding: 4px;
  border-radius: 8px;
  background: linear-gradient(67.22deg, #e63e21 -2.1%, #262626 19.33%);
  overflow: hidden; /* обрезаем углы */
  text-decoration: none;
  color: inherit;
  width: 440px; /* фиксируем ширину */
  height: 312px; /* фиксируем высоту */
  box-sizing: border-box;
}

.card-face {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 26px 16px;
  text-align: left;

  /* transition: background-image 0.5s ease, color 0.5s ease; */
  cursor: pointer;
  box-sizing: border-box;
}

.card-face:hover {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.card-face h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}

.card-face p {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.card-face p.text {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.2;
  text-transform: none;
}

.card-link .card-face:hover p.text {
  display: none;
}
/* Digitalist */
.card-link .card-face.digitalist {
  background-image: url("../images/project1.png");
  &:hover {
    background-image: url("../images/project1-hover.png");
    padding-top: 16px;
    gap: 8px;
    h1 {
      font-family: "IBM Plex Sans", sans-serif;
    }
  }
}
/* ArtCalculator */
.card-link .card-face.calculator {
  background-image: url("../images/project2.png");
  &:hover {
    background-image: url("../images/project2-hover.png");
    padding-top: 16px;
    gap: 8px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 800;
    }
  }
}
/* FreshBlack */
.card-link .card-face.freshblack {
  background-image: url("../images/project3.png");
  &:hover {
    background-image: url("../images/project3-hover.png");
    color: #161616;
    padding-top: 16px;
    gap: 8px;
    h1 {
      font-family: "Antonio", sans-serif;
      color: #161616;
    }
    p {
      color: #161616;
    }
  }
}
/* Pulesfit */
.card-link .card-face.pulesfit {
  background-image: url("../images/project4.png");

  &:hover {
    padding-top: 10px;
    color: #161616;

    gap: 4px;
    background-image: url("../images/project4-hover.png");
    h1 {
      font-family: "Unbounded", sans-serif;
      font-weight: 700;
      color: #161616;
    }
    p {
      color: #161616;
    }
  }
}
/* Shelfiye */
.card-link .card-face.shelfiye {
  background-image: url("../images/project5.png");
  padding-top: 16px;
  gap: 8px;
  &:hover {
    color: var(--background-color);
    padding-top: 16px;
    gap: 8px;
    background-image: url("../images/project5-hover.png");
    h1 {
      font-family: "NAMU Pro", sans-serif;
      color: #161616;
    }
    p {
      color: #161616;
    }
  }
}

/* About me  */

.about-section {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.about-section.container {
  padding-right: 1rem;
}
.about-main {
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  align-items: end;
  gap: 30px;
  justify-content: space-between;
  max-width: 920px;
  position: relative;

  opacity: 0;
  transform: translateX(0);
}

.about img {
  max-height: 420px;
  border-radius: 8px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.5;
}
.about-flower {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 462px;
  margin-left: 10px;
}
.about-flower p {
  color: #595959;
}
.flower-img {
  position: relative;
  width: 462px;
  height: 347px; /* Убедись, что высота соответствует реальному размеру цветка */
  margin-bottom: 20px; /* Чтобы текст не прилипал */
  margin-top: 130px;
}

.flower-img .flower,
.flower-img .ellipse {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flower-img .flower {
  z-index: 1;
  top: 0;
  left: 0;
  animation: floatFlower 6s ease-in-out infinite;
}

.flower-img .ellipse {
  z-index: 0;
  width: 700px;
  height: 700px;
  left: -36%;
  top: -60%;
}

/* Contact */
.contacts-section {
  display: flex;
  justify-content: end;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  > * {
    width: fit-content;
  }
  p {
    font-size: 24px;
    line-height: 1.5;
  }
}
/* 
.contact-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: 2px solid #802515;
  border-radius: 8px;
  background: #1b1b1b;
  overflow: hidden;
  z-index: 0;
}

.contact-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    302.22deg,
    rgba(51, 19, 14, 0) 47.59%,
    #e63e21 107.64%
  );
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: -1;
}

.contact-link:hover::before {
  opacity: 1;
} */
.contacts-links {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}
/* .contact-link {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    border: 2px solid #802515;
    border-radius: 4px
}*/

/* .contact-link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 20px;
  border: 2px solid #802515;
  border-radius: 4px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.contact-link:hover {
  background: #1b1b1b;
  color: #e63e21;
  text-decoration: none;
  box-shadow: 0 0 8px 2px #e63e21;
} */

.contact-link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  padding: 10px 20px;

  --border-angle: -70deg;

  background: #161616;

  border: solid 2px transparent;
  border-radius: 1px;

  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #262626 43.36%,
    #e63e21 99%,
    transparent
  );

  border-image-source: var(--gradient-border);
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;

  background-position: center center;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}

.contact-link:hover {
  --main-bg: conic-gradient(
    from var(--border-angle),
    #b0461a,
    #222222 5%,
    #222222 60%,
    #b0461a 95%
  );

  background: var(--main-bg) padding-box, var(--gradient-border) border-box;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 16px;
}
.footer-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@keyframes floatFlowerFooter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.skills-section h2 {
  text-align: center;
}
.skills-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.skills-list {
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    line-height: 1;
    margin: 0;
  }
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items-wrap:before {
  left: 0;
  background: linear-gradient(90deg, #161616 0%, rgba(255, 255, 255, 0) 100%);
}
.items-wrap:after {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #161616 100%);
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  background: #ccc;
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  counter-increment: item;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
}

.marquee {
  animation: scroll 20s linear infinite;
}
.reverce {
  animation-direction: reverse;
}
.items-wrap:hover .marquee {
  animation-play-state: paused;
}

.perfscan {
  margin: 20px 0;
  text-align: center;
  bottom: 0;
  background: #fff;
  padding: 5px;
}
.perfscan hr {
  border: solid #999;
  border-width: 1px 0 0 0;
  max-width: 50%;
  margin: 0 auto 20px;
}
.perfscan a {
  color: #000;
  font-weight: bold;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.skill-item {
  position: relative;
  width: 239px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  color: var(--secondary-color);
  border-radius: 4px;
  background: #1b1b1b;
  z-index: 1;
  overflow: hidden;
  /* background: linear-gradient(
      252.18deg,
      rgba(230, 62, 33, 0.2) -4.57%,
      rgba(51, 19, 14, 0) 27.31%
    ),
    #1b1b1b; */
}

/* Обёртка градиентной рамки */
.skill-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 4px;
  z-index: -1;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Градиенты для каждой группы */
.skill-item.one::before,
.skill-item.ten::before {
  background: linear-gradient(
    248.03deg,
    #e63e21 -7.5%,
    rgba(230, 62, 33, 0) 35.14%
  );
}

.skill-item.two::before,
.skill-item.eleven::before {
  background: linear-gradient(
    251.98deg,
    #e63e21 1.99%,
    rgba(230, 62, 33, 0) 41.51%
  );
}

.skill-item.three::before,
.skill-item.twelve::before {
  background: linear-gradient(
    103.87deg,
    #e63e21 9.44%,
    rgba(230, 62, 33, 0) 30.65%
  );
}

.skill-item.one::before,
.skill-item.ten::before {
  background: linear-gradient(
    248.03deg,
    #e63e21 -7.5%,
    rgba(230, 62, 33, 0) 35.14%
  );
}

.skill-item.two::before,
.skill-item.eleven::before {
  background: linear-gradient(
    251.98deg,
    #e63e21 1.99%,
    rgba(230, 62, 33, 0) 41.51%
  );
}

.skill-item.three::before,
.skill-item.twelve::before {
  background: linear-gradient(
    103.87deg,
    #e63e21 9.44%,
    rgba(230, 62, 33, 0) 30.65%
  );
}

.skill-item.four::before,
.skill-item.thirteen::before {
  background: linear-gradient(
    125.93deg,
    #e63e21 8.04%,
    rgba(230, 62, 33, 0) 32.76%
  );
}

.skill-item.five::before,
.skill-item.fourteen::before {
  background: linear-gradient(
    300.18deg,
    #e63e21 -2.13%,
    rgba(230, 62, 33, 0) 32.08%
  );
}

.skill-item.six::before,
.skill-item.fifteen::before {
  background: linear-gradient(
    334.14deg,
    #e63e21 14.29%,
    rgba(230, 62, 33, 0) 29.71%
  );
}

.skill-item.seven::before,
.skill-item.sixteen::before {
  background: linear-gradient(
    340.89deg,
    #e63e21 39.92%,
    rgba(230, 62, 33, 0) 58.98%
  );
}

.skill-item.eight::before,
.skill-item.seventeen::before {
  background: linear-gradient(
    68.17deg,
    #e63e21 9.36%,
    rgba(230, 62, 33, 0) 28.79%
  );
}

.skill-item.nine::before {
  background: linear-gradient(
    30.57deg,
    #e63e21 4.3%,
    rgba(230, 62, 33, 0) 54.1%
  );
}

.skill-item.one,
.skill-item.ten {
  background: linear-gradient(
    252.18deg,
    rgba(230, 62, 33, 0.2) -4.57%,
    rgba(51, 19, 14, 0) 27.31%
  );
}

.skill-item.two,
.skill-item.eleven {
  background: linear-gradient(
    256.19deg,
    rgba(230, 62, 33, 0.2) 3.88%,
    rgba(51, 19, 14, 0) 25.41%
  );
}

.skill-item.three,
.skill-item.twelve {
  background: linear-gradient(
    118.12deg,
    rgba(230, 62, 33, 0.2) 1.92%,
    rgba(51, 19, 14, 0) 31.82%
  );
}

.skill-item.four,
.skill-item.thirteen {
  background: linear-gradient(
      148.31deg,
      rgba(230, 62, 33, 0.2) -2.71%,
      rgba(51, 19, 14, 0) 34.57%
    ),
    #1b1b1b;
}

.skill-item.five,
.skill-item.fourteen {
  background: linear-gradient(
      263.11deg,
      rgba(230, 62, 33, 0.2) -5.48%,
      rgba(51, 19, 14, 0) 40.48%
    ),
    #1b1b1b;
}

.skill-item.six,
.skill-item.fifteen {
  background: linear-gradient(
      255.95deg,
      rgba(230, 62, 33, 0.2) 2.18%,
      rgba(51, 19, 14, 0) 29.61%
    ),
    #1b1b1b;
}

.skill-item.seven,
.skill-item.sixteen {
  background: linear-gradient(
      108.11deg,
      rgba(230, 62, 33, 0.2) -4.29%,
      rgba(51, 19, 14, 0) 27.71%
    ),
    #1b1b1b;
}

.skill-item.eight,
.skill-item.seventeen {
  background: linear-gradient(
      114.21deg,
      rgba(230, 62, 33, 0.2) -4.72%,
      rgba(51, 19, 14, 0) 32.09%
    ),
    #1b1b1b;
}

.skill-item.nine {
  background: linear-gradient(
      106.85deg,
      rgba(230, 62, 33, 0.2) 0%,
      rgba(51, 19, 14, 0) 24.42%
    ),
    #1b1b1b;
}

/* .skill-item {
  width: 239px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  color: var(--secondary-color);
  border: 2px solid;
  background-blend-mode: overlay;
  border-radius: 4px;
}
.skill-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 2px;
  z-index: -1;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.skill-item.one,
.skill-item.ten {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      252.18deg,
      rgba(230, 62, 33, 0.2) -4.57%,
      rgba(51, 19, 14, 0) 27.31%
    );
}
.skill-item.one::before,
.skill-item.ten::before {
  background: linear-gradient(
    248.03deg,
    #e63e21 -7.5%,
    rgba(230, 62, 33, 0) 35.14%
  );
}
.skill-item.one,
.skill-item.ten {
  border-image: linear-gradient(
      248.03deg,
      #e63e21 -7.5%,
      rgba(230, 62, 33, 0) 35.14%
    )
    1;

  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      252.18deg,
      rgba(230, 62, 33, 0.2) -4.57%,
      rgba(51, 19, 14, 0) 27.31%
    );
}

.skill-item.two,
.skill-item.eleven {
  border-image: linear-gradient(
      251.98deg,
      #e63e21 1.99%,
      rgba(230, 62, 33, 0) 41.51%
    )
    1;

  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      256.19deg,
      rgba(230, 62, 33, 0.2) 3.88%,
      rgba(51, 19, 14, 0) 25.41%
    );
}
.skill-item.three,
.skill-item.twelve {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      118.12deg,
      rgba(230, 62, 33, 0.2) 1.92%,
      rgba(51, 19, 14, 0) 31.82%
    );

  border-image: linear-gradient(
      103.87deg,
      #e63e21 9.44%,
      rgba(230, 62, 33, 0) 30.65%
    )
    1;
}
.skill-item.four,
.skill-item.thirteen {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      148.31deg,
      rgba(230, 62, 33, 0.2) -2.71%,
      rgba(51, 19, 14, 0) 34.57%
    );

  border-image: linear-gradient(
      125.93deg,
      #e63e21 8.04%,
      rgba(230, 62, 33, 0) 32.76%
    )
    1;
}
.skill-item.five,
.skill-item.fourteen {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      263.11deg,
      rgba(230, 62, 33, 0.2) -5.48%,
      rgba(51, 19, 14, 0) 40.48%
    );

  border-image: linear-gradient(
      300.18deg,
      #e63e21 -2.13%,
      rgba(230, 62, 33, 0) 32.08%
    )
    1;
}
.skill-item.six,
.skill-item.fifteen {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      255.95deg,
      rgba(230, 62, 33, 0.2) 2.18%,
      rgba(51, 19, 14, 0) 29.61%
    );

  border-image: linear-gradient(
      334.14deg,
      #e63e21 14.29%,
      rgba(230, 62, 33, 0) 29.71%
    )
    1;
}
.skill-item.seven,
.skill-item.sixteen {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      108.11deg,
      rgba(230, 62, 33, 0.2) -4.29%,
      rgba(51, 19, 14, 0) 27.71%
    );

  border-image: linear-gradient(
      340.89deg,
      #e63e21 39.92%,
      rgba(230, 62, 33, 0) 58.98%
    )
    1;
}
.skill-item.eight,
.skill-item.seventeen {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      114.21deg,
      rgba(230, 62, 33, 0.2) -4.72%,
      rgba(51, 19, 14, 0) 32.09%
    );
  border: 2px solid;

  border-image: linear-gradient(
      68.17deg,
      #e63e21 9.36%,
      rgba(230, 62, 33, 0) 28.79%
    )
    1;
}
.skill-item.nine {
  background: linear-gradient(0deg, #1b1b1b, #1b1b1b),
    linear-gradient(
      106.85deg,
      rgba(230, 62, 33, 0.2) 0%,
      rgba(51, 19, 14, 0) 24.42%
    );

  border-image: linear-gradient(
      30.57deg,
      #e63e21 4.3%,
      rgba(230, 62, 33, 0) 54.1%
    )
    1;
} */
/* .skill-item.ten {
}.skill-item.eleven {
}.skill-item.twelve {
}.skill-item.thirteen {
}.skill-item.fourteen {
}.skill-item.fifteen {
}.skill-item.sixteen {
}.skill-item.seventeen {
} */

/* Общее начальное состояние */
.animate-left,
.animate-right,
.animate-up {
  opacity: 0;
}

/* Слева */
.animate-left {
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 1.4s ease-out;
}
.animate-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Справа */
.animate-right {
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 1.4s ease-out;
}
.animate-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Снизу */
.animate-up {
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 1.4s ease-out;
}
.animate-up.active {
  opacity: 1;
  transform: translateY(0);
}
